.profile__content {
  position: relative;
  max-width: 486px;
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .profile__content {
    max-width: 680px;
    flex-direction: column;
    gap: 26px;
  }
  @media screen and (max-width: 370px) {
    .profile__content {
      max-width: 282px;
    }
  }
}